.container-question{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-weight: 500;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 520;
    color: #343434;
    padding: 15px 0;
}
.container-question:hover{
    background-color: #cfcece;

}
.id-Question{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: #505050;
   margin-left: 10px;
}
.Question-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 520;
    color: #343434;
    width: 800px;
    word-wrap:break-word;
}


.Respostas{
    margin-right: 15px;

}

.RespostaNaoSeAplica{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: #000;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    background-color:#FE7C00;
    
}

.RespostaNaoConforme{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    background-color: red;
    
}
.RespostaOk{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: #000;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    background-color: green;
    
}
.Resposta{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: #000;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    background-color: orange;
    
}


.option{
 background-color: #e0e0e0;
}