.container-question{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #AEC8CA;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-weight: 500;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 520;
    color: #343434;
    padding: 15px 0;
    margin-left: 40px;
    margin-right: 20px;
    max-width: 90%;
    overflow: hidden;
}
.container-question:hover{
    background-color: #97b7b9;

}
.id-Question{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: #505050;
   margin-left: 10px;
}
.Question-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 520;
    color: #343434;
    width: 600px;
    max-width: 600px;
    word-wrap:break-word;
    margin-left: 10px;
}


.Respostas{
    margin-right: 15px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.editarbutton {
    background-color: red;
    margin-right: 10px;
}

.RespostaNaoSeAplica{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    background-color:#ff9e1e;
}

.RespostaNaoSeAplica:focus {
    outline: 0;
}
.RespostaNaoSeAplica:hover {
    cursor: pointer;
}

.RespostaNaoConforme{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 50, 50);
    text-shadow: none;
}

.RespostaNaoConforme:focus {
    outline: 0;
}
.RespostaNaoConforme:hover {
    cursor: pointer;
}

.RespostaOk{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(53, 148, 53);
}

.RespostaOk:focus {
    outline: 0;
}
.RespostaOk:hover {
    cursor: pointer;
}

.Resposta{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";
    color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    background-color: orange;
}

.Resposta:focus {
    outline: 0;
}
.Resposta:hover {
    cursor: pointer;
}

.option{
 background-color: #e0e0e0;
}

.Input-edition{
    
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    
  
    
}
.container-input-edition{
    width: 75%;
    display: flex;
    align-items: center;
    
}
.Button-confirm-edition{
    color: rgb(53, 148, 53);
    margin-left: 0.7%;
}
